@model SI_SearchDemoSolution.Models.Instrument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstrumentType)
        </dd>
    </dl>
</div>
<h5>Musicians that play this instrument</h5>
<table class="table table-primary">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    @foreach (Musician m in Model.Musicians)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => m.Name)</td>
            <td>@Html.DisplayFor(ModelItem => m.Age)</td>
        </tr>
    }
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.InstrumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
