@model SI_ModelPractice1Solution.Models.RentalProperty

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>RentalProperty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPropertyID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalPropertyID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPropertyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalPropertyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyRent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseTermInMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseTermInMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityDeposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityDeposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLeaseCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLeaseCost)
        </dd>
    </dl>
</div>
